$("#new_food").hide();
$("#new_food_link").show();
$("#foods").append(" <td><%=@food.name%></td>" +
                     "<td><%=@food.quantity%></td>" +
                     "<td><%=@food.calories%></td>");
