$("#new_food").hide();
$("#new_food_link").show();
$("#foods").append(" <tr>" + "<td><%=@food.name%></td>" +
                     "<td><%=@food.quantity%></td>" +
                     "<td><%=@food.calories%></td>" + "</tr>");
$("#calories").html("<%=@log.calories_consumed%>");
